{% extends 'base.html' %}
{% block title %}Drugs Lists {% endblock title %}

{% block content %}

<div class="container">
    <br><br>
    Filters:
    <a href="?title=True" class="btn btn-{% if 'title' in request.GET %}warning{% else %}primary{% endif %}">  A-Z</i></a>

    <a href="?latest=True" class="btn btn-{% if 'latest' in request.GET %}warning{% else %}primary{% endif %}">Date Approved</a>
    
    <br> <br>
    
    <form class="form-inline my-2 my-lg-2">
      <input class="form-control mr-sm-2" name="search" type="search" value="{{search}}" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    {% if messages %}
            {% for message in messages %} 
                <div {% if message.tags %} class="{{message.tags}}" {% endif %}>
                    {{message}}
                </div>
            {% endfor %}
    {% endif %}
    
    {% if drugs %} 
        <ul class="list-group">
            {% for drug in drugs %}
            <li class='list-group-item'>
                <a href="{% url 'drugs:details' drug.slug %}">{{drug}}</a>
            </li>
            {% endfor %}
        </ul>
    {% else %}
    <br>
    <h4>Oops, no drugs were found. </h4>
    {% endif %}
    <br> 
    {% if drugs %}
        <div class="">
            <span class="">
                {% if drugs.has_previous %}
                    <a href="?page=1&{{params}}">&laquo; first</a>
                    <a href="?page={{ drugs.previous_page_number }}&{{params}}">previous</a>
                    
                {% endif %}

                <span class="current">
                    Page {{ drugs.number }} of {{ drugs.paginator.num_pages }}.
                </span>

                {% if drugs.has_next %}
                    <a href="?page={{ drugs.next_page_number }}&{{params}}">next</a>
                    <a href="?page={{ drugs.paginator.num_pages }}&{{params}}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
        <p></p>
        <p></p>
        <br>
        </div>
    {% endif %}

{% endblock content %}